@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap");
@import "theme";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: white;
}

.textCapitalized {
  text-transform: capitalize;
}

button {
  background-color: $primary_color;
  padding: 10px 20px;
  border: 0;
  color: white;
}

.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 20px;
  .brand {
    a {
      display: flex;
      align-items: center;
      font-size: 18px;
      text-decoration: none;
      color: black;
      .title {
        margin-left: 20px;
      }
      span {
        display: block;
        font-weight: bolder;
        font-size: 30px;

        @media screen and (max-width: 600px) {
          font-size: 25px;
        }

        @media screen and (max-width: 500px) {
          font-size: 20px;
        }
        @media screen and (max-width: 400px) {
          font-size: 16;
        }
      }
      small {
        display: block;
        font-size: 13px;
        text-align: right;
        font-family: $tt_font;
        color: darken(white, 60%);
      }
      img {
        width: 100px;

        @media screen and (max-width: 400px) {
          width: 60px;
        }
      }
    }
  }

  .navRight {
    display: flex;
    flex-direction: column;
    position: relative;

    img {
      width: 20px;
      height: 20px;
      border: 1px solid black;
      padding: 5px 10px;
    }

    .menu-link {
      position: absolute;
      display: none;
      top: 40px;
      right: 0;
      z-index: 1;
      background-color: white;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      width: 100px;
      .overlay {
        position: fixed;
        background-color: transparent;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .navLinks {
        position: relative;
        padding: 10px 20px;
        a {
          font-size: 13px;
          font-weight: 600;
        }
      }
    }

    .navLinks {
      margin: 0 20px;

      &:last-child {
        margin-right: 0;
      }
      a {
        color: black;
        font-size: 13px;
        font-weight: 300;
        text-decoration: none;
      }

      @media screen and (max-width: 600px) {
        margin-left: 0;
        a {
          font-size: 12px;
        }
      }
    }

    .top,
    .bottom {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .top {
      margin-bottom: 10px;
      .navLinks {
        a {
          font-size: 10px;
          font-weight: bold;
        }
      }
    }
    .bottom {
      a {
        &:hover {
          color: $primary_color;
        }
      }
    }
  }
}

.centerContent {
  margin: 30px auto;
  max-width: 1000px;

  p {
    font-family: $secondary_font;
    font-size: 20px;
    line-height: 30px;
  }
}

.children-con {
  min-height: 90vh;
}

footer {
  height: 100px;
  background-color: #e9f1f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.blogExtras-main {
  h4 {
    margin: 0;
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid darken(white, 10%);
    margin-bottom: 20px;
  }
}

.blogListContainer {
  max-width: 1000px;
  padding: 30px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-gap: 4em;
  box-sizing: border-box;

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.blogCard,
.blogCardExtra {
  width: 100%;
  height: 150px;
  margin-bottom: 50px;
  display: flex;
  overflow: hidden;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: white;

  .blogImage {
    flex: 1;
    width: 25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: whitesmoke;
    min-width: 25%;
    max-width: 25%;
    margin-left: 20px;
  }

  @media screen and (max-width: 600px) {
    height: 100px;
  }

  h4 {
    margin: 0;
    margin-bottom: 20px;
  }

  .blogContent {
    a {
      text-decoration: none;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .blogTitle {
      font-size: 20px;
      font-weight: bold;
      color: black;
      margin-bottom: 5px;
    }

    p {
      margin: 0;
      line-height: 25px;
      color: darken(white, 70%);
      width: 100%;
      font-family: $secondary_font;
      font-size: 15px;

      img {
        width: 100%;
      }
    }

    .footer {
      font-size: 12px;
      color: darken($color: white, $amount: 70%);
      font-weight: 500;
    }

    @media screen and (max-width: 600px) {
      .blogTitle {
        font-size: 17px;
      }
      p {
        font-size: 13px;
      }
      .footer {
        font-size: 11px;
      }
    }
  }
}

.blogCardExtra {
  height: unset;
  flex-direction: row;
  .blogContent {
    .blogTitle {
      font-size: 15px;
    }

    .footer {
      margin-top: 10px;
    }
  }
}

.menu {
  padding: 0;
  max-width: 1000px;
  margin: 30px auto 0;

  a {
    padding: 15px 25px 10px;
    display: inline-block;
    font-family: $secondary_font;
    font-weight: 500;
    color: white;
    background-color: $primary_color;
    text-decoration: none;

    &:hover {
      background-color: lighten($primary_color, 10%);
    }

    @media screen and (max-width: 600px) {
      font-size: 13px;
    }
  }
}

.blog-container {
  padding: 0 20px;
  box-sizing: border-box;
}

.pagination {
  max-width: 1200px;
  margin: 30px auto;
  margin-bottom: 30px;

  @media screen and (max-width: 600px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    margin: 0;
    padding: 0;
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid darken(white, 5%);

    li {
      list-style: none;

      a {
        padding: 10px 25px;
        border-right: 1px solid darken(white, 5%);
        cursor: pointer;
        box-sizing: border-box;
        background-color: white;

        @media screen and (max-width: 600px) {
          padding: 7px 20px;
          font-size: 14px;
        }

        @media screen and (max-width: 400px) {
          padding: 5px 15px;
          font-size: 13px;
        }
      }

      &:last-child {
        a {
          border-right: none;
        }
      }

      &:hover {
        a {
          background-color: darken(white, 5%);
        }
      }

      &.disabled {
        a {
          cursor: not-allowed;
          color: darken(white, 50%);
        }
      }

      &.selected {
        a {
          color: white;
          background-color: $primary_color;
        }
      }
    }
  }
}

.mobile {
  display: none !important;
}
@media screen and (max-width: 600px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
}

.skeleton {
  background-color: darken(white, 5%);
}

.blogListContainer-singlePage {
  width: 100%;
  max-width: 1000px;
  display: flex;

  font-family: $secondary_font;
  font-weight: 400;
  line-height: 25px;
  img {
    max-width: 100% !important;
    max-height: 400px;
  }
  pre {
    overflow: auto;
  }
  & > * {
    overflow: auto;
    max-width: 100% !important;
  }
  .blogList {
    min-width: 65%;
    max-width: 65% !important;
    margin-right: 2em;
  }

  @media screen and (max-width: 768px) {
    display: block;
    .blogList {
      min-width: 100%;
      max-width: 100% !important;
      margin-right: 0;
    }
    .blogExtras {
      margin-left: 0;
      margin-top: 40px;
    }
  }
}

.share-button {
  display: flex;
  align-items: center;
  a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
    img {
      width: 15px;
      height: 15px;
    }
  }
}
